


/*.BoxNav{*/
/*    width: 100%;*/
/*    height: 85px;*/
/*    flex-direction: column;*/
/*    display: flex;*/
/*    position: fixed;*/
/*    top: 0;*/
/*    left: 0;*/
/*    z-index: 1100;*/

/*}*/


.EllipseStack{
    width: 55px;
    height: 55px;
    margin-top: 10px;
    align-content: start;
    position: absolute;
}
.AppName{
    height: 50px;
    margin-top: 17px;
    margin-right: 17px;
    position: absolute;
    right: 0;
    font-family: Reenie Beanie, sans-serif;
    font-style: italic;
    font-weight: bolder;
    font-size: min(12vw, 48px);
    line-height: 50px;
    color: #f1df13;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    text-align: center;
}
